@media only screen and (min-width: 375px) {

  ul {
    font-size: 3vw;
  }

  .application {
    margin: 0 auto;
  }

  form {
    margin: 0 auto;
  }

  .contact {
    border-top-left-radius: 10%;
    background-image: url('Assets/contact\ form\ shapes-mobile@2x.png');
    background-size: cover;
  }

  .Headline {
    background-image: url('Assets/header-shapes-mobile.png');
    background-size: cover;
    background-repeat: no-repeat;
  }





}

@media only screen and (min-width: 767px) {

  ul {
    font-size: 1.5vw;
  }

  .Headline {
    border-bottom-left-radius: 10%;
    background-image: url('Assets/Header-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .contact {
    background-image: url('Assets/contact\ form\ background\ shapes@2x.png');
    background-size: cover;
  }

  
}